body{
    background:#fff;
    color:#000;
    font-family:Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
.grid-item{
    xborder:1px solid;
    height: 200px;
    width: 200px;
    float:left;
}
.grid-title{
    font-size:10px;
}