body{
    background:#000;
    color:#fff;
    font-family:Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
body.light{
    background:#fff;
    color:#000;
}
.node-promoted{
    display:none;
}
.grid-item{

    height: 200px;
    width: 200px;
    float:left;
}
.grid-title{
    font-size:10px;
}

.grid-item-body{
    display:none;
    width:50%;
    z-index:99999;
}
#breadcrumb{
    display:none;

}
.body-category{
    font-weight: bold;
    font-size: 17px;
}
.close-button{
    display:none;
}

.dark{
    //content:'\A';
    //position:absolute;
    //width:100%; height:100%;
    //top:0; left:0;
    background:#000;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
#details{
    z-index:99999;
    width: 100%;
    position: fixed;
    top: 40px;
}
#details .grid-item-body{
    display:block;
}
.grid-img-overlay{
    background: #000;
    color: white;
    opacity: 0;
    width: 100%;
    z-index: 99999999;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.grid-item-img{
    overflow:hidden;
    position:relative;
}
@media screen and (max-width: 500px) {
    #controls{
        font-size:10px;
        width:90px;
    }
}
#controls{
    padding-top:10px;
    padding-left:10px;
    background:#000;
    opacity:.7;
    position:fixed;
    right:10px;
    top:40px;
}
body.light #controls{
    color:000;
    background:#fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
#controls ul li{
    cursor:pointer;
    list-style:none;
    padding-bottom:10px;
}
#controls ul li.active, #controls .light-dark span.active{
    color:red;
}
#controls .light-dark span{
    cursor:pointer;
}
.missing-img-icon{
    height:200px;
}
.missing-img-icon i{
    padding-left: 75px;
    padding-top: 75px;
}
